@font-face {
    font-family: devicon;
    src: url(fonts/devicon.eot?-hdf3wh);
    src: url(fonts/devicon.eot?#iefix-hdf3wh) format('embedded-opentype'), url(fonts/devicon.woff?-hdf3wh) format('woff'), url(fonts/devicon.ttf?-hdf3wh) format('truetype'), url(fonts/devicon.svg?-hdf3wh#devicon) format('svg');
    font-weight: 400;
    font-style: normal
}
[class*=" devicon-"],
[class^=devicon-] {
    font-family: devicon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
   /* line-height: 1;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.devicon-express-original-wordmark:before {
    content: "\e93c"
}
.devicon-express-original:before {
    content: "\e93d"
}
.devicon-devicon-plain-wordmark:before {
    content: "\e93a"
}
.devicon-devicon-plain:before {
    content: "\e93b"
}
.devicon-intellij-plain-wordmark:before {
    content: "\e932"
}
.devicon-intellij-plain:before {
    content: "\e933"
}
.devicon-pycharm-plain-wordmark:before {
    content: "\e934"
}
.devicon-pycharm-plain:before {
    content: "\e935"
}
.devicon-rubymine-plain-wordmark:before {
    content: "\e936"
}
.devicon-rubymine-plain:before {
    content: "\e937"
}
.devicon-webstorm-plain-wordmark:before {
    content: "\e938"
}
.devicon-webstorm-plain:before {
    content: "\e939"
}
.devicon-tomcat-line-wordmark:before {
    content: "\e92c"
}
.devicon-tomcat-line:before {
    content: "\e92d"
}
.devicon-vuejs-line-wordmark:before {
    content: "\e92e"
}
.devicon-vuejs-line:before {
    content: "\e92f"
}
.devicon-vuejs-plain-wordmark:before {
    content: "\e930"
}
.devicon-vuejs-plain:before {
    content: "\e931"
}
.devicon-swift-plain-wordmark:before {
    content: "\e92a"
}
.devicon-swift-plain:before {
    content: "\e92b"
}
.devicon-webpack-plain-wordmark:before {
    content: "\e928"
}
.devicon-webpack-plain:before {
    content: "\e929"
}
.devicon-visualstudio-plain-wordmark:before {
    content: "\e926"
}
.devicon-visualstudio-plain:before {
    content: "\e927"
}
.devicon-slack-plain-wordmark:before {
    content: "\e924"
}
.devicon-slack-plain:before {
    content: "\e925"
}
.devicon-facebook-original:before,
.devicon-facebook-plain:before {
    content: "\e91c"
}
.devicon-typescript-original:before,
.devicon-typescript-plain:before {
    content: "\e920"
}
.devicon-babel-original:before,
.devicon-babel-plain:before {
    content: "\e921"
}
.devicon-mocha-plain:before {
    content: "\e919"
}
.devicon-jasmine-plain-wordmark:before {
    content: "\e91b"
}
.devicon-jasmine-plain:before {
    content: "\e91a"
}
.devicon-gatling-plain-wordmark:before {
    content: "\e918"
}
.devicon-gatling-plain:before {
    content: "\e917"
}
.devicon-ssh-original-wordmark:before,
.devicon-ssh-plain-wordmark:before {
    content: "\e916"
}
.devicon-ssh-original:before,
.devicon-ssh-plain:before {
    content: "\e915"
}
.devicon-sourcetree-original-wordmark:before,
.devicon-sourcetree-plain-wordmark:before {
    content: "\e914"
}
.devicon-sourcetree-original:before,
.devicon-sourcetree-plain:before {
    content: "\e913"
}
.devicon-phpstorm-plain-wordmark:before {
    content: "\e912"
}
.devicon-phpstorm-plain:before {
    content: "\e911"
}
.devicon-protractor-plain-wordmark:before {
    content: "\e901"
}
.devicon-protractor-plain:before {
    content: "\e900"
}
.devicon-gradle-plain-wordmark:before {
    content: "\e8f1"
}
.devicon-gradle-plain:before {
    content: "\e902"
}
.devicon-cucumber-plain-wordmark:before {
    content: "\e905"
}
.devicon-cucumber-plain:before {
    content: "\e904"
}
.devicon-jeet-plain-wordmark:before {
    content: "\e906"
}
.devicon-jeet-plain:before {
    content: "\e903"
}
.devicon-gitlab-plain-wordmark:before {
    content: "\e908"
}
.devicon-gitlab-plain:before {
    content: "\e907"
}
.devicon-github-original-wordmark:before,
.devicon-github-plain-wordmark:before {
    content: "\e90a"
}
.devicon-github-original:before,
.devicon-github-plain:before {
    content: "\e909"
}
.devicon-d3js-plain:before {
    content: "\e90c"
}
.devicon-confluence-original-wordmark:before,
.devicon-confluence-plain-wordmark:before {
    content: "\e90e"
}
.devicon-confluence-original:before,
.devicon-confluence-plain:before {
    content: "\e90d"
}
.devicon-bitbucket-original-wordmark:before,
.devicon-bitbucket-plain-wordmark:before {
    content: "\e910"
}
.devicon-bitbucket-original:before,
.devicon-bitbucket-plain:before {
    content: "\e90f"
}
.devicon-safari-line-wordmark:before {
    content: "\e632"
}
.devicon-safari-line:before {
    content: "\e63a"
}
.devicon-safari-plain-wordmark:before {
    content: "\e63b"
}
.devicon-safari-plain:before {
    content: "\e63c"
}
.devicon-jetbrains-line-wordmark:before,
.devicon-jetbrains-line:before,
.devicon-jetbrains-plain-wordmark:before,
.devicon-jetbrains-plain:before {
    content: "\e63d"
}
.devicon-django-line-wordmark:before,
.devicon-django-line:before {
    content: "\e63e"
}
.devicon-django-plain-wordmark:before,
.devicon-django-plain:before {
    content: "\e63f"
}
.devicon-gimp-plain:before {
    content: "\e633"
}
.devicon-redhat-plain-wordmark:before {
    content: "\e62a"
}
.devicon-redhat-plain:before {
    content: "\e62b"
}
.devicon-cplusplus-line-wordmark:before,
.devicon-cplusplus-line:before {
    content: "\e634"
}
.devicon-cplusplus-plain-wordmark:before,
.devicon-cplusplus-plain:before {
    content: "\e635"
}
.devicon-csharp-line-wordmark:before,
.devicon-csharp-line:before {
    content: "\e636"
}
.devicon-csharp-plain-wordmark:before,
.devicon-csharp-plain:before {
    content: "\e637"
}
.devicon-c-line-wordmark:before,
.devicon-c-line:before {
    content: "\e638"
}
.devicon-c-plain-wordmark:before,
.devicon-c-plain:before {
    content: "\e639"
}
.devicon-nodewebkit-line-wordmark:before {
    content: "\e611"
}
.devicon-nodewebkit-line:before {
    content: "\e612"
}
.devicon-nodewebkit-plain-wordmark:before {
    content: "\e613"
}
.devicon-nodewebkit-plain:before {
    content: "\e614"
}
.devicon-nginx-original-wordmark:before,
.devicon-nginx-original:before,
.devicon-nginx-plain-wordmark:before,
.devicon-nginx-plain:before {
    content: "\e615"
}
.devicon-erlang-plain-wordmark:before {
    content: "\e616"
}
.devicon-erlang-plain:before {
    content: "\e617"
}
.devicon-doctrine-line-wordmark:before {
    content: "\e618"
}
.devicon-doctrine-line:before {
    content: "\e619"
}
.devicon-doctrine-plain-wordmark:before {
    content: "\e61a"
}
.devicon-doctrine-plain:before {
    content: "\e625"
}
.devicon-apache-line-wordmark:before {
    content: "\e626"
}
.devicon-apache-line:before {
    content: "\e627"
}
.devicon-apache-plain-wordmark:before {
    content: "\e628"
}
.devicon-apache-plain:before {
    content: "\e629"
}
.devicon-go-line:before {
    content: "\e610"
}
.devicon-redis-plain-wordmark:before {
    content: "\e606"
}
.devicon-redis-plain:before {
    content: "\e607"
}
.devicon-meteor-plain-wordmark:before {
    content: "\e608"
}
.devicon-meteor-plain:before {
    content: "\e609"
}
.devicon-heroku-line-wordmark:before,
.devicon-heroku-original-wordmark:before {
    content: "\e60a"
}
.devicon-heroku-line:before,
.devicon-heroku-original:before {
    content: "\e60b"
}
.devicon-heroku-plain-wordmark:before {
    content: "\e60c"
}
.devicon-heroku-plain:before {
    content: "\e60f"
}
.devicon-go-plain:before {
    content: "\e61b"
}
.devicon-docker-plain-wordmark:before {
    content: "\e61e"
}
.devicon-docker-plain:before {
    content: "\e61f"
}
.devicon-amazonwebservices-original:before,
.devicon-amazonwebservices-plain:before {
    content: "\e603"
}
.devicon-amazonwebservices-plain-wordmark:before {
    content: "\e604"
}
.devicon-android-plain-wordmark:before {
    content: "\e60d"
}
.devicon-android-plain:before {
    content: "\e60e"
}
.devicon-angularjs-plain-wordmark:before {
    content: "\e61c"
}
.devicon-angularjs-plain:before {
    content: "\e61d"
}
.devicon-appcelerator-original:before,
.devicon-appcelerator-plain:before {
    content: "\e620"
}
.devicon-appcelerator-plain-wordmark:before {
    content: "\e621"
}
.devicon-apple-original:before,
.devicon-apple-plain:before {
    content: "\e622"
}
.devicon-atom-original-wordmark:before,
.devicon-atom-plain-wordmark:before {
    content: "\e623"
}
.devicon-atom-original:before,
.devicon-atom-plain:before {
    content: "\e624"
}
.devicon-backbonejs-plain-wordmark:before {
    content: "\e62c"
}
.devicon-backbonejs-plain:before {
    content: "\e62d"
}
.devicon-bootstrap-plain-wordmark:before {
    content: "\e62e"
}
.devicon-bootstrap-plain:before {
    content: "\e62f"
}
.devicon-bower-line-wordmark:before {
    content: "\e630"
}
.devicon-bower-line:before {
    content: "\e631"
}
.devicon-bower-plain-wordmark:before {
    content: "\e64e"
}
.devicon-bower-plain:before {
    content: "\e64f"
}
.devicon-chrome-plain-wordmark:before {
    content: "\e665"
}
.devicon-chrome-plain:before {
    content: "\e666"
}
.devicon-codeigniter-plain-wordmark:before {
    content: "\e667"
}
.devicon-codeigniter-plain:before {
    content: "\e668"
}
.devicon-coffeescript-original-wordmark:before,
.devicon-coffeescript-plain-wordmark:before {
    content: "\e669"
}
.devicon-coffeescript-original:before,
.devicon-coffeescript-plain:before {
    content: "\e66a"
}
.devicon-css3-plain-wordmark:before {
    content: "\e678"
}
.devicon-css3-plain:before {
    content: "\e679"
}
.devicon-debian-plain-wordmark:before {
    content: "\e67e"
}
.devicon-debian-plain:before {
    content: "\e67f"
}
.devicon-dot-net-plain-wordmark:before {
    content: "\e6d3"
}
.devicon-dot-net-plain:before {
    content: "\e6d4"
}
.devicon-drupal-plain-wordmark:before {
    content: "\e6e2"
}
.devicon-drupal-plain:before {
    content: "\e6e3"
}
.devicon-firefox-plain-wordmark:before {
    content: "\e75d"
}
.devicon-firefox-plain:before {
    content: "\e75e"
}
.devicon-foundation-plain-wordmark:before {
    content: "\e7a2"
}
.devicon-foundation-plain:before {
    content: "\e7a3"
}
.devicon-git-plain-wordmark:before {
    content: "\e7a7"
}
.devicon-git-plain:before {
    content: "\e7a8"
}
.devicon-google-original-wordmark:before,
.devicon-google-plain-wordmark:before {
    content: "\e91d"
}
.devicon-google-original:before,
.devicon-google-plain:before {
    content: "\e91e"
}
.devicon-grunt-line-wordmark:before {
    content: "\e7a9"
}
.devicon-grunt-line:before {
    content: "\e7aa"
}
.devicon-grunt-plain-wordmark:before {
    content: "\e7ea"
}
.devicon-grunt-plain:before {
    content: "\e7eb"
}
.devicon-gulp-plain:before {
    content: "\e7ec"
}
.devicon-html5-plain-wordmark:before {
    content: "\e7f6"
}
.devicon-html5-plain:before {
    content: "\e7f7"
}
.devicon-ie10-original:before,
.devicon-ie10-plain:before {
    content: "\e7f8"
}
.devicon-illustrator-line:before {
    content: "\e7f9"
}
.devicon-illustrator-plain:before {
    content: "\e7fa"
}
.devicon-inkscape-plain-wordmark:before {
    content: "\e834"
}
.devicon-inkscape-plain:before {
    content: "\e835"
}
.devicon-java-plain-wordmark:before {
    content: "\e841"
}
.devicon-java-plain:before {
    content: "\e842"
}
.devicon-javascript-plain:before {
    content: "\e845"
}
.devicon-jquery-plain-wordmark:before {
    content: "\e849"
}
.devicon-jquery-plain:before {
    content: "\e84a"
}
.devicon-krakenjs-plain-wordmark:before {
    content: "\e84f"
}
.devicon-krakenjs-plain:before {
    content: "\e850"
}
.devicon-laravel-plain-wordmark:before {
    content: "\e851"
}
.devicon-laravel-plain:before {
    content: "\e852"
}
.devicon-less-plain-wordmark:before {
    content: "\e853"
}
.devicon-linux-plain:before {
    content: "\eb1c"
}
.devicon-mongodb-plain-wordmark:before {
    content: "\eb43"
}
.devicon-mongodb-plain:before {
    content: "\eb44"
}
.devicon-moodle-plain-wordmark:before {
    content: "\eb5a"
}
.devicon-moodle-plain:before {
    content: "\eb5b"
}
.devicon-mysql-plain-wordmark:before {
    content: "\eb60"
}
.devicon-mysql-plain:before {
    content: "\eb61"
}
.devicon-nodejs-plain-wordmark:before {
    content: "\eb69"
}
.devicon-nodejs-plain:before {
    content: "\eb6a"
}
.devicon-oracle-original:before,
.devicon-oracle-plain:before {
    content: "\eb6b"
}
.devicon-photoshop-line:before {
    content: "\eb6c"
}
.devicon-photoshop-plain:before {
    content: "\eb6d"
}
.devicon-php-plain:before {
    content: "\eb71"
}
.devicon-postgresql-plain-wordmark:before {
    content: "\eb7c"
}
.devicon-postgresql-plain:before {
    content: "\eb7d"
}
.devicon-python-plain-wordmark:before {
    content: "\eb88"
}
.devicon-python-plain:before {
    content: "\eb89"
}
.devicon-rails-plain-wordmark:before {
    content: "\eba2"
}
.devicon-rails-plain:before {
    content: "\eba3"
}
.devicon-react-original-wordmark:before,
.devicon-react-plain-wordmark:before {
    content: "\e600"
}
.devicon-react-original:before,
.devicon-react-plain:before {
    content: "\e601"
}
.devicon-ruby-plain-wordmark:before {
    content: "\ebc9"
}
.devicon-ruby-plain:before {
    content: "\ebca"
}
.devicon-sass-original:before,
.devicon-sass-plain:before {
    content: "\ebcb"
}
.devicon-sequelize-original-wordmark:before,
.devicon-sequelize-plain-wordmark:before {
    content: "\e922"
}
.devicon-sequelize-original:before,
.devicon-sequelize-plain:before {
    content: "\e923"
}
.devicon-symfony-original-wordmark:before,
.devicon-symfony-plain-wordmark:before {
    content: "\e602"
}
.devicon-symfony-original:before,
.devicon-symfony-plain:before {
    content: "\e605"
}
.devicon-travis-plain-wordmark:before {
    content: "\ebcc"
}
.devicon-travis-plain:before {
    content: "\ebcd"
}
.devicon-trello-plain-wordmark:before {
    content: "\ebce"
}
.devicon-trello-plain:before {
    content: "\ebcf"
}
.devicon-twitter-original:before,
.devicon-twitter-plain:before {
    content: "\e91f"
}
.devicon-ubuntu-plain-wordmark:before {
    content: "\ebd0"
}
.devicon-ubuntu-plain:before {
    content: "\ebd1"
}
.devicon-vim-plain:before {
    content: "\ebf3"
}
.devicon-windows8-original-wordmark:before,
.devicon-windows8-plain-wordmark:before {
    content: "\ebf4"
}
.devicon-windows8-original:before,
.devicon-windows8-plain:before {
    content: "\ebf5"
}
.devicon-wordpress-plain-wordmark:before {
    content: "\ebfd"
}
.devicon-wordpress-plain:before {
    content: "\ebfe"
}
.devicon-yii-plain-wordmark:before {
    content: "\ec01"
}
.devicon-yii-plain:before {
    content: "\ec02"
}
.devicon-zend-plain-wordmark:before {
    content: "\ec03"
}
.devicon-zend-plain:before {
    content: "\ec04"
}
.devicon-express-original-wordmark.colored,
.devicon-express-original.colored {
    color: #444
}
.devicon-devicon-plain-wordmark.colored,
.devicon-devicon-plain.colored {
    color: #60BE86
}
.devicon-intellij-plain-wordmark.colored,
.devicon-intellij-plain.colored {
    color: #136BA2
}
.devicon-pycharm-plain-wordmark.colored,
.devicon-pycharm-plain.colored {
    color: #4D8548
}
.devicon-rubymine-plain-wordmark.colored,
.devicon-rubymine-plain.colored {
    color: #C12C4C
}
.devicon-webstorm-plain-wordmark.colored,
.devicon-webstorm-plain.colored {
    color: #2788B5
}
.devicon-tomcat-line-wordmark.colored,
.devicon-tomcat-line.colored {
    color: #D1A41A
}
.devicon-vuejs-line-wordmark.colored,
.devicon-vuejs-line.colored,
.devicon-vuejs-plain-wordmark.colored,
.devicon-vuejs-plain.colored {
    color: #41B883
}
.devicon-swift-plain-wordmark.colored,
.devicon-swift-plain.colored {
    color: #F05138
}
.devicon-webpack-plain-wordmark.colored,
.devicon-webpack-plain.colored {
    color: #1C78C0
}
.devicon-visualstudio-plain-wordmark.colored,
.devicon-visualstudio-plain.colored {
    color: #68217A
}
.devicon-slack-plain-wordmark.colored,
.devicon-slack-plain.colored {
    color: #2D333A
}
.devicon-gatling-plain-wordmark.colored,
.devicon-gatling-plain.colored {
    color: #E77500
}
.devicon-ssh-original-wordmark.colored,
.devicon-ssh-original.colored,
.devicon-ssh-plain-wordmark.colored,
.devicon-ssh-plain.colored {
    color: #231F20
}
.devicon-sourcetree-original-wordmark.colored,
.devicon-sourcetree-original.colored,
.devicon-sourcetree-plain-wordmark.colored,
.devicon-sourcetree-plain.colored {
    color: #205081
}
.devicon-phpstorm-plain-wordmark.colored,
.devicon-phpstorm-plain.colored {
    color: #5058A6
}
.devicon-protractor-plain-wordmark.colored,
.devicon-protractor-plain.colored {
    color: #b7111d
}
.devicon-cucumber-plain-wordmark.colored,
.devicon-cucumber-plain.colored {
    color: #00a818
}
.devicon-gradle-plain-wordmark.colored,
.devicon-gradle-plain.colored {
    color: #02303a
}
.devicon-jeet-plain-wordmark.colored,
.devicon-jeet-plain.colored {
    color: #FF664A
}
.devicon-gitlab-plain-wordmark.colored,
.devicon-gitlab-plain.colored {
    color: #E24329
}
.devicon-github-original-wordmark.colored,
.devicon-github-original.colored,
.devicon-github-plain-wordmark.colored,
.devicon-github-plain.colored {
    color: #181616
}
.devicon-d3js-plain.colored {
    color: #f7974e
}
.devicon-bitbucket-original-wordmark.colored,
.devicon-bitbucket-original.colored,
.devicon-bitbucket-plain-wordmark.colored,
.devicon-bitbucket-plain.colored,
.devicon-confluence-original-wordmark.colored,
.devicon-confluence-original.colored,
.devicon-confluence-plain-wordmark.colored,
.devicon-confluence-plain.colored {
    color: #205081
}
.devicon-amazonwebservices-original.colored,
.devicon-amazonwebservices-plain-wordmark.colored,
.devicon-amazonwebservices-plain.colored {
    color: #F7A80D
}
.devicon-android-plain-wordmark.colored,
.devicon-android-plain.colored {
    color: #A4C439
}
.devicon-angularjs-plain-wordmark.colored,
.devicon-angularjs-plain.colored {
    color: #c4473a
}
.devicon-apache-line-wordmark.colored,
.devicon-apache-line.colored,
.devicon-apache-plain-wordmark.colored,
.devicon-apache-plain.colored {
    color: #303284
}
.devicon-appcelerator-original.colored,
.devicon-appcelerator-plain-wordmark.colored,
.devicon-appcelerator-plain.colored {
    color: #ac162c
}
.devicon-apple-original.colored,
.devicon-apple-plain.colored {
    color: #000
}
.devicon-atom-original-wordmark.colored,
.devicon-atom-original.colored,
.devicon-atom-plain-wordmark.colored,
.devicon-atom-plain.colored {
    color: #67595D
}
.devicon-babel-original.colored,
.devicon-babel-plain.colored {
    color: #f9dc3e
}
.devicon-backbonejs-plain-wordmark.colored,
.devicon-backbonejs-plain.colored {
    color: #002A41
}
.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
    color: #59407f
}
.devicon-bower-line-wordmark.colored,
.devicon-bower-line.colored,
.devicon-bower-plain-wordmark.colored,
.devicon-bower-plain.colored {
    color: #ef5734
}
.devicon-c-line-wordmark.colored,
.devicon-c-line.colored,
.devicon-c-plain-wordmark.colored,
.devicon-c-plain.colored {
    color: #03599c
}
.devicon-chrome-plain-wordmark.colored,
.devicon-chrome-plain.colored {
    color: #ce4e4e
}
.devicon-codeigniter-plain-wordmark.colored,
.devicon-codeigniter-plain.colored {
    color: #ee4323
}
.devicon-coffeescript-original-wordmark.colored,
.devicon-coffeescript-original.colored,
.devicon-coffeescript-plain-wordmark.colored,
.devicon-coffeescript-plain.colored {
    color: #28334c
}
.devicon-cplusplus-line-wordmark.colored,
.devicon-cplusplus-line.colored,
.devicon-cplusplus-plain-wordmark.colored,
.devicon-cplusplus-plain.colored {
    color: #9c033a
}
.devicon-csharp-line-wordmark.colored,
.devicon-csharp-line.colored,
.devicon-csharp-plain-wordmark.colored,
.devicon-csharp-plain.colored {
    color: #68217a
}
.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
    color: #3d8fc6
}
.devicon-debian-plain-wordmark.colored,
.devicon-debian-plain.colored {
    color: #A80030
}
.devicon-django-line-wordmark.colored,
.devicon-django-line.colored,
.devicon-django-plain-wordmark.colored,
.devicon-django-plain.colored {
    color: #003A2B
}
.devicon-docker-plain-wordmark.colored,
.devicon-docker-plain.colored {
    color: #019bc6
}
.devicon-doctrine-line-wordmark.colored,
.devicon-doctrine-line.colored,
.devicon-doctrine-plain-wordmark.colored,
.devicon-doctrine-plain.colored {
    color: #f56d39
}
.devicon-dot-net-plain-wordmark.colored,
.devicon-dot-net-plain.colored {
    color: #1384c8
}
.devicon-drupal-plain-wordmark.colored,
.devicon-drupal-plain.colored {
    color: #0073BA
}
.devicon-erlang-plain-wordmark.colored,
.devicon-erlang-plain.colored {
    color: #a90533
}
.devicon-facebook-original.colored,
.devicon-facebook-plain.colored {
    color: #3d5a98
}
.devicon-firefox-plain-wordmark.colored,
.devicon-firefox-plain.colored {
    color: #DD732A
}
.devicon-foundation-plain-wordmark.colored,
.devicon-foundation-plain.colored {
    color: #008cba
}
.devicon-gimp-plain-wordmark.colored,
.devicon-gimp-plain.colored {
    color: #716955
}
.devicon-git-plain-wordmark.colored,
.devicon-git-plain.colored {
    color: #f34f29
}
.devicon-go-line.colored,
.devicon-go-plain.colored {
    color: #000
}
.devicon-google-original-wordmark.colored,
.devicon-google-original.colored,
.devicon-google-plain-wordmark.colored,
.devicon-google-plain.colored {
    color: #587dbd
}
.devicon-grunt-line-wordmark.colored,
.devicon-grunt-line.colored,
.devicon-grunt-plain-wordmark.colored,
.devicon-grunt-plain.colored {
    color: #fcaa1a
}
.devicon-gulp-plain.colored {
    color: #eb4a4b
}
.devicon-heroku-line-wordmark.colored,
.devicon-heroku-line.colored,
.devicon-heroku-original-wordmark.colored,
.devicon-heroku-original.colored,
.devicon-heroku-plain-wordmark.colored,
.devicon-heroku-plain.colored {
    color: #6762a6
}
.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
    color: #e54d26
}
.devicon-ie10-original.colored,
.devicon-ie10-plain.colored {
    color: #1EBBEE
}
.devicon-illustrator-line.colored,
.devicon-illustrator-plain.colored {
    color: #faa625
}
.devicon-inkscape-plain-wordmark.colored,
.devicon-inkscape-plain.colored {
    color: #000
}
.devicon-java-plain-wordmark.colored,
.devicon-java-plain.colored {
    color: #EA2D2E
}
.devicon-jasmine-plain-wordmark.colored,
.devicon-jasmine-plain.colored {
    color: #8a4182
}
.devicon-javascript-plain.colored {
    color: #f0db4f
}
.devicon-jetbrains-line-wordmark.colored,
.devicon-jetbrains-line.colored,
.devicon-jetbrains-plain-wordmark.colored,
.devicon-jetbrains-plain.colored {
    color: #F68B1F
}
.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
    color: #0769ad
}
.devicon-krakenjs-plain-wordmark.colored,
.devicon-krakenjs-plain.colored {
    color: #0081C2
}
.devicon-laravel-plain-wordmark.colored,
.devicon-laravel-plain.colored {
    color: #fd4f31
}
.devicon-less-plain-wordmark.colored {
    color: #2a4d80
}
.devicon-linux-plain.colored {
    color: #000
}
.devicon-meteor-plain-wordmark.colored,
.devicon-meteor-plain.colored {
    color: #df5052
}
.devicon-mocha-plain.colored {
    color: #8d6748
}
.devicon-mongodb-plain-wordmark.colored,
.devicon-mongodb-plain.colored {
    color: #4FAA41
}
.devicon-moodle-plain-wordmark.colored,
.devicon-moodle-plain.colored {
    color: #F7931E
}
.devicon-mysql-plain-wordmark.colored,
.devicon-mysql-plain.colored {
    color: #00618a
}
.devicon-nginx-original-wordmark.colored,
.devicon-nginx-original.colored,
.devicon-nginx-plain-wordmark.colored,
.devicon-nginx-plain.colored {
    color: #090
}
.devicon-nodejs-plain-wordmark.colored,
.devicon-nodejs-plain.colored {
    color: #83CD29
}
.devicon-nodewebkit-line-wordmark.colored,
.devicon-nodewebkit-line.colored,
.devicon-nodewebkit-plain-wordmark.colored,
.devicon-nodewebkit-plain.colored {
    color: #3d3b47
}
.devicon-oracle-original.colored,
.devicon-oracle-plain-wordmark.colored,
.devicon-oracle-plain.colored {
    color: #EA1B22
}
.devicon-photoshop-line.colored,
.devicon-photoshop-plain.colored {
    color: #80b5e2
}
.devicon-php-plain.colored {
    color: #6181b6
}
.devicon-postgresql-plain-wordmark.colored,
.devicon-postgresql-plain.colored {
    color: #336791
}
.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
    color: #ffd845
}
.devicon-rails-plain-wordmark.colored,
.devicon-rails-plain.colored {
    color: #a62c46
}
.devicon-ruby-plain-wordmark.colored,
.devicon-ruby-plain.colored {
    color: #d91404
}
.devicon-safari-line-wordmark.colored,
.devicon-safari-line.colored,
.devicon-safari-plain-wordmark.colored,
.devicon-safari-plain.colored {
    color: #1B88CA
}
.devicon-react-original-wordmark.colored,
.devicon-react-original.colored,
.devicon-react-plain-wordmark.colored,
.devicon-react-plain.colored {
    color: #61dafb
}
.devicon-redhat-original-wordmark.colored,
.devicon-redhat-original.colored,
.devicon-redhat-plain-wordmark.colored,
.devicon-redhat-plain.colored {
    color: #e93442
}
.devicon-redis-plain-wordmark.colored,
.devicon-redis-plain.colored {
    color: #d82c20
}
.devicon-sass-original.colored,
.devicon-sass-plain-wordmark.colored,
.devicon-sass-plain.colored {
    color: #c69
}
.devicon-sequelize-original-wordmark.colored,
.devicon-sequelize-original.colored,
.devicon-sequelize-plain-wordmark.colored,
.devicon-sequelize-plain.colored {
    color: #3b4b72
}
.devicon-symfony-original-wordmark.colored,
.devicon-symfony-original.colored,
.devicon-symfony-plain-wordmark.colored,
.devicon-symfony-plain.colored {
    color: #1A171B
}
.devicon-travis-plain-wordmark.colored,
.devicon-travis-plain.colored {
    color: #bb2031
}
.devicon-trello-plain-wordmark.colored,
.devicon-trello-plain.colored {
    color: #23719f
}
.devicon-twitter-original.colored,
.devicon-twitter-plain.colored {
    color: #1da1f2
}
.devicon-typescript-original.colored,
.devicon-typescript-plain.colored {
    color: #007acc
}
.devicon-ubuntu-plain-wordmark.colored,
.devicon-ubuntu-plain.colored {
    color: #dd4814
}
.devicon-vim-plain.colored {
    color: #179a33
}
.devicon-windows8-original-wordmark.colored,
.devicon-windows8-original.colored,
.devicon-windows8-plain-wordmark.colored,
.devicon-windows8-plain.colored {
    color: #00adef
}
.devicon-wordpress-plain-wordmark.colored,
.devicon-wordpress-plain.colored {
    color: #494949
}
.devicon-yii-plain-wordmark.colored,
.devicon-yii-plain.colored {
    color: #0073bb
}
.devicon-zend-plain-wordmark.colored,
.devicon-zend-plain.colored {
    color: #68b604
}